nav {
    display: flex;
    justify-content: space-between;
    margin-left: 204px;
    margin-right: 163px;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    color: #233348;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

hero {
    display: flex;
    justify-content: space-between;
    gap: 109px;
    margin-left: 204px;
    margin-right: 163px;
    padding-top: 20px;
}

.himg {
    width: 450px;
    height: 450px;
    padding-top: 84px;
}

.heroh1 {
    color: #000;
    font-family: Mulish;
    padding-top: 191px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.hbtn {
    color: #FFF;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: none;
    background: #458FF6;

}

.service {
    margin-left: 204px;
    margin-right: 163px;
    text-align: center;
}

.our-service {
    color: #000;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    padding: 50px;
}

.service-info {
    text-align: center;
    color: #7D7987;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 80px;
}

.service-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-img {
    height: 50px;
    width: 50px;
}

.service-h3 {
    color: #000;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    /* 233.333% */
}

.service-p {
    color: #7D7987;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 175% */
}